<ion-view title="Einstellungen" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="einstellungen-form8" class="list">
            <ion-checkbox name="cbAutoLogin">Auto-Login</ion-checkbox>
            <label class="item item-select" id="einstellungen-select1" name="selectStartView">
                <span class="input-label">Startansicht</span>
                <select>
                    <option>Spiele</option>
                    <option>Tipprunden</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>