<ion-view title="Login" id="page7">
   <ion-content padding="true" style="background: url(img/fruit.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form5" class="list">
            <ion-list id="login-list3">
                <label class="item item-input" id="login-input8">
                    <span class="input-label">Benutzername</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input9">
                    <span class="input-label">Passwort</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.spiele" id="login-button5" class="button button-stable  button-block">Login</a>
            <a ui-sref="registrierung" id="login-button6" class="button button-balanced  button-block">Account erstellen</a>
        </form>
    </ion-content>
</ion-view>