<ion-view title="Punkte" id="page8" hide-nav-bar="true" ng-controller="punkteCtrl">

   <ion-header-bar class="bar-balanced">
    <h1 class="title">Punkte</h1>
  </ion-header-bar>

  <ion-scroll overflow-scroll="false" zooming="true" direction="y" style="width: 100%; height: 60%; margin-top:20%">
		<a ng-repeat="benutzer in tipprundePunkte | orderBy:'punkte':true" class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:%0; border: thick; border-bottom:groove;">
		{{benutzer.benutzer_name}} {{benutzer.punkte}}
		</a>
	</ion-scroll>
</ion-view>