<ion-view title="Spiele" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="spiele-form7" class="list">
            <label class="item item-select" id="spiele-select2" name="selectSpiele">
                <span class="input-label">Spieleauswahl</span>
                <select>
                    <option>Gruppe A</option>
                    <option>Gruppe B</option>
                    <option>Gruppe C</option>
                    <option>Gruppe D</option>
                    <option>Gruppe E</option>
                    <option>Gruppe F</option>
                    <option>Finale</option>
                </select>
            </label>
            <ion-checkbox name="cbTippFuerAlleRunden">Tipp für alle Tipprunden</ion-checkbox>
        </form>
        <!--
        <div ng-app="">
            Name: <input ng-model="name">
            <h1>You entered: {{name}}</h1>
        </div>
        -->
    </ion-content>
</ion-view>