
<ion-view title="TestPage" id="page13"  >
    <ion-content padding="true" class="has-header" >
        <button ng-click="showPopup()" class="button icon ion-bug">Popup anzeigen</button>
        <button ng-click="addEntry()" class="button icon ion-bug">Eintrag hinzufügen</button>
        <button ng-click="addItem()" class="button icon ion-bug">add item</button>
        <div id="ladida"></div>

        <div id="ladidaListe" class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/fruit.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		</div>
</ion-view>