<ion-view title="Tipprunden" id="page10" hide-nav-bar="true" ng-controller="tipprundenCtrl" >

  <ion-header-bar class="bar-balanced">
    <h1 class="title">Tipprunden</h1>
    <div class="buttons">
      <button class="button" ng-click="showTipprundenCreator()">Tipprunde anlegen</button>
    </div>
  </ion-header-bar>
<!--
	<ion-content padding="true" has-header="true">
      <form id="tipprunden-form6" class="list">
          <label class="item item-input" name="searchTipprundenSuche">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Tipprunde suchen">
          </label>
          <ion-checkbox name="cbMeineTipprunden">Meine Tipprunden anzeigen</ion-checkbox>
      </form>
  </ion-content>
  -->
	<ion-scroll overflow-scroll="false" zooming="true" direction="y" style="width: 100%; height: 60%; margin-top:20%">
	<a ng-repeat="tipprunde in tipprunden" class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:%0; border: thick; border-bottom:groove;" ng-click = 'tipprundeClicked(tipprunde)'>
		<h2>{{tipprunde.tipprunde_name}}</h2>
	</a>
	</ion-scroll>
  
</ion-view>