<ion-view ng-controller="restTestViewController">
    <button class="button button-block button-calm" ng-click="getOpenLigaDB()">getOpenLigaDB</button>
	<button class="button button-block button-calm" ng-click="getTableVersions()">getTableVersions</button>
	<button class="button button-block button-calm" ng-click="testLocalTableVersionsUpdate()">testLocalTableVersionsUpdate</button>
	<button class="button button-block button-calm" ng-click="postUsertable()">postUsertableToServer</button>
	{{returnedData}}
</ion-view>